//user defined color variables
$brand-1: #022F37 !default;
$brand-2: #0D2A33 !default; //not used

$accent-1: #FD6F52 !default;
$accent-2: #EE7859 !default;

$black-1: #150705 !default;
$black-2: #121111 !default;
$black-3: #2C2727 !default;
$black-4: #363636 !default;

$gray-1: #A3A3A3 !default;
$gray-2: #D1D1D1 !default;
$gray-3: #E7E7E7 !default;
$gray-4: #F8F8F8 !default;
$gray-5: #DCDADA !default;

$info-1: #BEDEDE !default; //not used
$info-2: #C3DDDD !default;

$red-1: #DF7457 !default; //not used
$red-2: #E49D87 !default; //not used
$red-3: #E9CDBD !default; //not used
$red-4: #EBE9DF !default; //not used

$yellow-1: #EA9920 !default;
$yellow-2: #E2D23E !default;

$brown-1: #490B07 !default; //not used
$brown-2: #A3867E !default; //not used
$brown-3: #D4C9BF !default; //not used
$brown-4: #ECEAE0 !default; //not used

$green-1: #1EAF61 !default;
$green-2: #395C61 !default;
$green-3: #C6DDDD !default;

$transparent: transparent !default;


//theme light color variables
$body-tl-bg: $gray-4;
$body-tl-text: $black;
$btn-tl-danger: $accent-1;
$btn-tl-secondary: $gray-1;
$brand-tl-color: $brand-1;
$border-tl-color: $gray-2;
$card-bg-tl-color: $white;
$btn-tl-edit: $accent-1;
$text-tl-muted: $gray-1;
$text-tl-opposite: $white;
$black1-tl-color: $black-1;
$black1-secondary-tl-color: $black-1;
$tag-tl-bg: $green-3;
$tag-tl-color: $black-4;

//theme dark color variables
$body-td-bg: $black-3;
$body-td-text: $gray-4;
$btn-td-danger: $gray-3;
$btn-td-secondary: $gray-3;
$brand-td-color: $accent-2;
$border-td-color: $gray-1;
$card-bg-td-color: $black-2;
$btn-td-edit: $info-2;
$text-td-muted: $gray-3;
$text-td-opposite: $black-1;
$black1-td-color: $white;
$black1-secondary-td-color: $gray-5;
$tag-td-bg: $green-2;
$tag-td-color: $gray-4;

  //theme map
$themes: (
  light: (
    backgroundColor: $body-tl-bg,
    textColor: $body-tl-text,
    btnOutlineDanger: $btn-tl-danger,
    btnSecondaryColor: $btn-tl-secondary,
    brandColor: $brand-tl-color,
    borderColor: $border-tl-color,
    cardBgColor: $card-bg-tl-color,
    btnEditColor: $btn-tl-edit,
    textMuted: $text-tl-muted,
    textOppsoite: $text-tl-opposite,
    black1Color: $black1-tl-color,
    black1SecondaryColor: $black1-secondary-tl-color,
    tagBg: $tag-tl-bg,
    tagColor: $tag-tl-color,
  ),
  dark: (
    backgroundColor: $body-td-bg,
    textColor: $body-td-text,
    btnOutlineDanger: $btn-td-danger,
    btnSecondaryColor: $btn-td-secondary,
    brandColor: $brand-td-color,
    borderColor: $border-td-color,
    cardBgColor: $card-bg-td-color,
    btnEditColor: $btn-td-edit,
    textMuted: $text-td-muted,
    textOppsoite: $text-td-opposite,
    black1Color: $black1-td-color,
    black1SecondaryColor: $black1-secondary-td-color,
    tagBg: $tag-td-bg,
    tagColor: $tag-td-color,
  ),
);

//
$font-size-xs: .75rem !default;
$font-size-xxl: 1.5rem !default;
$font-weight-medium: 500 !default;


