//global styles
@each $theme, $map in $themes {
  .theme-#{$theme} {
    color: map-get($map, textColor);
    background-color: map-get($map, backgroundColor);
  }
}

.container-fluid{
  @include make-container(3rem);
}

.brand-text{
  @include themify($themes){
    color: themed('brandColor');
  };
}

.text-black1{
  @include themify($themes){
    color: themed('black1Color');
  };
}

.text-black1-secondary{
  @include themify($themes){
    color: themed('black1SecondaryColor');
  };
}

.text-faded{
  @include themify($themes){
    color: themed('textMuted');
  };
}

.text-theme-opposite{
  @include themify($themes){
    color: themed('textOppsoite');
  };
}

.has-icon-right{
  padding-right: 1.5rem;
  .icon-right{
    top: 0;
    right: 0;
  }
}

.font-size-xxl{
  font-size: $font-size-xxl;
}

.font-size-lg{
  font-size: $font-size-lg;
}

.font-size-base{
  font-size: $font-size-base;
}

.font-size-sm{
  font-size: $font-size-sm;
}

.font-size-xs{
  font-size: $font-size-xs;
}

.line-height-1{
  line-height: 1;
}

.mb-10{
  margin-bottom: .625rem;
}

.ml-10{
  margin-left: .625rem;
}

.pr-10{
  padding-right: .625rem;
}

.block-right{
  padding-left: .625rem;
  @include themify($themes) {
    border-left: .0625rem solid themed('borderColor');
  }
}

.card-list{
  &.list-group{
    list-style: none;
    li{
      padding: .625rem 0;
      @include themify($themes) {
        border-bottom: .0625rem solid themed('borderColor');
      }
      &:first-child{
        padding-top: 0;
      }
    }
  }
}

.box-with-icon{
  border-radius: 0.1875rem;
  padding: 0 .5rem 0 1.5rem;
  border: .0625rem solid;
  min-height: 1.25rem;
  .icon-left{
    padding: .125rem .25rem;
    left: 0;
    top: 0;
  }
}

.counter{
  min-width: 2.125rem;
  height: 1.625rem;
  font-weight: $font-weight-medium;
  padding: .125rem;
}

.bg-success-light{
  background-color: rgba($green-1, .05);
}

.bg-warning-light{
  background-color: rgba($yellow-2, .05);
}

.bg-danger-light{
  background-color: rgba($yellow-1, .05);
}

.tag{
  padding: .125rem .25rem;
  @include themify($themes) {
    background-color: themed('tagBg');
    color: themed('tagColor');
  }
}

.product-icon{
  width: 2.6875rem;
  height: 2.6875rem;
  border-radius: .125rem;
  @include themify($themes){
    background-color: themed('brandColor');
  };
}

