//global styles
@each $theme, $map in $themes {
  .theme-#{$theme} {
    color: map-get($map, textColor);
    background-color: map-get($map, backgroundColor);
  }
}

.container-fluid{
  @include make-container(3rem);
}

.brand-text{
  @include themify($themes){
    color: themed('brandColor');
  };
}
