<header class="header">
  <div class="container-fluid">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-md">
        <h1 class="mb-3 mb-md-0 brand-text">Lorem Ipsum dolor sit amet</h1>
      </div>
      <div class="col-md-auto">
        <button type="button" class="btn btn-outline-danger" (click)="toggleTheme()">Switch Theme</button>
        <button type="button" class="btn btn-secondary ml-2">Lorem Ipsum</button>
      </div>
    </div>
  </div>
</header>
