<header class="header">
  <div class="container-fluid">
    <div class="row align-items-center text-center text-md-left">
      <div class="col-md">
        <h1 class="mb-3 mb-md-0 brand-text">Lorem Ipsum dolor sit amet</h1>
      </div>
      <div class="col-md-auto">
        <button type="button" class="btn btn-outline-danger" (click)="toggleTheme()">Switch Theme</button>
        <button type="button" class="btn btn-secondary ml-2">Lorem Ipsum</button>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush card-list">
              <li>
                <div class="has-icon-right position-relative">
                  <h2 class="mb-0 text-faded font-size-lg">Lorem Ipsum</h2>
                  <button type="button" class="btn btn-edit p-0 border-0 position-absolute icon-right">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                </div>
              </li>
              <li>
                <div class="row no-gutters">
                  <div class="col-6">
                    <div class="block-left">
                      <p class="mb-0 text-faded font-size-xs">Lorem Ipsum</p>
                      <div class="box-with-icon position-relative border-danger">
                        <button type="button" class="btn border-0 position-absolute icon-left bg-danger h-100 d-flex align-items-center">
                          <i class="fa-solid fa-pencil font-size-xs text-theme-opposite"></i>
                        </button>
                        <p class="font-size-sm text-faded mb-0 text-truncate">Lorem Ipsum</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="block-right">
                      <p class="mb-0 text-faded font-size-xs">Lorem Ipsum</p>
                      <div class="d-flex align-items-center">
                        <i class="fa-solid fa-shield-halved font-size-sm mr-1 brand-text"></i>
                        <p class="mb-0 text-faded font-size-sm text-truncate">000.000,00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="row no-gutters">
                  <div class="col-6">
                    <div class="block-left">
                      <p class="mb-0 text-faded font-size-xs">Lorem Ipsum</p>
                      <div class="d-flex align-items-center">
                        <i class="fa-solid fa-money-bill-wave font-size-sm mr-1 brand-text"></i>
                        <p class="mb-0 text-faded font-size-sm text-truncate">Lorem</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="block-right">
                      <p class="mb-0 text-faded font-size-xs">Lorem Ipsum</p>
                      <div class="d-flex align-items-center">
                        <i class="fa-solid fa-money-bill-wave font-size-sm mr-1 brand-text"></i>
                        <p class="mb-0 text-faded font-size-sm text-truncate">000.000,00</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush card-list mb-10">
              <li>
                <div class="has-icon-right position-relative">
                  <h2 class="mb-0 text-faded font-size-lg">Lorem Ipsum</h2>
                  <button type="button" class="btn btn-edit p-0 border-0 position-absolute icon-right">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                </div>
              </li>
            </ul>
            <button class="btn btn-block btn-outline-danger text-left">Lorem Ipsum</button>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-xl-9">

      </div>
    </div>
  </div>
</main>
